---
- name: Add Microsoft repository
  ansible.builtin.dnf:
    name: "{{ microsoft_repo_url }}"
    state: present
    disable_gpg_check: true

- name: Install required packages
  ansible.builtin.dnf:
    name: "{{ required_packages }}"
    state: present

- name: Set temporary root password from Hashicorp Vault
  ansible.builtin.user:
    name: root
    password: "{{ vault_facts_root_password_temp | password_hash('sha512') }}"

- name: Create admin user account
  ansible.builtin.user:
    name: admin
    password: "{{ vault_facts_admin_password | password_hash('sha512') }}"
    state: present
    create_home: false

- name: Create additional Linux users from vault
  ansible.builtin.user:
    name: "{{ item.username }}"
    password: "{{ item.password | password_hash('sha512') }}"
    state: present
    create_home: false
  loop: "{{ vault_facts_snapcenter_users | default([]) }}"
  when: vault_facts_snapcenter_users is defined
  no_log: true
