- name: NetApp SnapCenter post-deployment configuration
  hosts: aws_ec2
  remote_user: ec2-user
  become: true
  gather_facts: true
  roles:
    - role: instance_facts
    - role: vault_facts
    - role: hostname
    - role: mount_snapcenter_data
    - role: reboot
      when: (hostname_result.changed | default(false)) or
        (mount_snapcenter_data_mount_result.changed | default(false))
    - role: snapcenter_add_users
    - role: snapcenter_admin_verify
    - role: root_user_secure
      when: snapcenter_add_users_authenticated_as == 'root'
    - role: companieshouse.security.security_scans
