---
- name: Provision Ansible controller with SSH key for remote
  hosts: localhost
  roles:
    - role: companieshouse.general.ssh_key
      vars:
        ssh_key_name: ansible_remote
        ssh_key_vault_path: "{{ vault_base_path }}/ansible"

- name: NetApp SnapCenter post-deployment configuration
  hosts: aws_ec2
  remote_user: ec2-user
  become: true
  gather_facts: true
  roles:
    - role: instance_facts
    - role: vault_facts
    - role: hostname
    - role: mount_snapcenter_data
    - role: snapcenter_add_users
    - role: root_user_secure
    - role: companieshouse.security.security_scans
